{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="py-5"
     style="background-image: url(/static/images/stat_price.jpg); background-size: cover;">
    <h2 class="container">Средние цены
        <br>в Ненецком автономном округе</h2>
</div>
<div class="container">
    <h3 class="mt-3">Статистические данные по ценам</h3>
    <div class="list-group">
    {% for news in news_list %}
       <a href="{{ news.id }}" class="list-group-item list-group-item-action ">{{ news.title }}</a>
    {% endfor %}
    </div>
        <p>
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a></li>
            {% endif %}

                <span class="page-link current text-dark">
                    Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
        </ul>
        </nav>
        </p>

</div>
{% endblock%}
