{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<div class="scrollup float-right"><i class="fa fa-chevron-up"></i></div>
<div class="py-5" style="background-image: url(/static/images/stat_industry.jpg); background-size: cover;">
<!--     style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%),-->
<!--                              url(https://placeimg.com/1500/480/tech/grayscale)">-->
    <h2 class="container">Промышленное производство<br>
        в Ненецком автономном округе
    </h2>
</div>

<div class="container">
    <p class="lead">
        В социально-экономическом развитии Ненецкого автономного округа определяющим является
        минерально-сырьевой комплекс. В общем объеме промышленной продукции, вырабатываемой в
        округе, более 90% составляет продукция нефтедобывающего комплекса.
    </p>
    <hr class="my-4">
    <h3>Статистические данные</h3>
    <div class="list-group">
    {% for news in news_list %}
       <a href="{{ news.id }}" class="list-group-item list-group-item-action ">{{ news.title }}</a>
    {% endfor %}
    </div>
    <br>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a></li>
            {% endif %}

                <span class="page-link current text-dark">
                    Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
            {% endif %}
            </ul>
        </nav>
</div>
{% endblock%}
