{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<div class="scrollup float-right"><i class="fa fa-chevron-up"></i></div>
<div class="py-5" style="background-image: url(/static/images/stat_rated.jpg); background-size: cover;">
    <h2 class="container">Курс по данным ЦБ РФ</h2> 
<!--    <hr class="my-4">-->
</div>


    <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-center">
        <a class="btn btn-sm btn-outline-info text-dark" href="{% url 'rate:monthly_list' %}">Котировки нефти "Юралс"</a>
        <a class="btn btn-sm btn-outline-info text-dark mx-1" href="{% url 'rate:chart' %}">Динамика курса доллара и нефти</a>
        {% if user.is_authenticated %}
            <form action="{% url 'rate:success' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-sm btn-outline-info text-dark" name="run_script" value="Скачать таблицы">
            </form>
        {% endif %}
    </nav>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
<!--            <h5>Курс доллара США на {{ first_date|date:"d.m.Y" }} <strong>{{ first_usd }}</strong> руб.</h5>-->
            <h5>Курс доллара США</h5>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-4"><strong>Дата</strong></div>
                <div class="col-md-3"><strong>Курс &#36;</strong></div>
            </div>
            {% for d in all %}
            <div class="row">
                <div class="col-md-4">{{ d.date|date:"d.m.Y" }}</div>
                <div class="col-md-3">{{ d.usd }}</div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-7">
            {% autoescape off %}
            {{ plot_div }}
            {% endautoescape %}
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">предыдущая</a></li>
        {% endif %}

                <span class="page-link current text-dark">
                    Стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">следующая</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
        {% endif %}
        </ul>
    </nav>
    <br>
</div>
{% endblock%}
