{% extends "base.html" %}
{% load static %}
{% block body_block%}
<link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
<div class="scrollup float-right"><i class="fa fa-chevron-up"></i></div>

<div class="py-5" style="background-image: url(/static/images/finec.jpg); background-size: cover;">
<!--     style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%,rgba(255,255,255,0.9) 100%),-->
<!--                              url(https://placeimg.com/1500/480/tech)">-->
    <h2 class="container">Департамент финансов и экономики
        <br>Ненецкого автономного округа
    </h2>
</div>
    <div class="container">

        <div id="carouselDfe" class="carousel slide mt-2" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselDfe" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide Industry"></button>
                <button type="button" data-bs-target="#carouselDfe" data-bs-slide-to="1" aria-label="Slide Price"></button>
                <button type="button" data-bs-target="#carouselDfe" data-bs-slide-to="2" aria-label="Slide Population"></button>
                <button type="button" data-bs-target="#carouselDfe" data-bs-slide-to="3" aria-label="Slide Subsidy"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="{% url 'industry:list' %}"><img src="{% static 'images/carousel_tek.jpg' %}" class="rounded mx-auto d-block w-75" alt="Industry"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>О промышленном производстве</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'price:list' %}"><img src="{% static 'images/carousel_price.jpg' %}" class="rounded mx-auto d-block w-75" alt="Price"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Средние цены</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'population:list' %}"><img src="{% static 'images/carousel_population.jpg' %}" class="rounded mx-auto d-block w-75" alt="Population"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Демография и миграция</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <a href="{% url 'subsidy:list' %}"><img src="{% static 'images/carousel_subsidy.jpg' %}" class="rounded mx-auto d-block w-75" alt="Subsidy"></a>
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Льготы, субсидии</h5>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselDfe" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselDfe" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <br>
        <hr class="my-4">
        <p class="lead">
            Департамент финансов и экономики является исполнительным органом
            государственной власти Ненецкого автономного округа, осуществляющим функции
            по нормативному правовому регулированию и реализации государственной политики в финансовой, бюджетной
            и налоговой сферах, в сфере туризма, в области стратегического планирования, анализа и прогнозирования
            социально-экономического развития, формирования и исполнения государственных программ, развития малого
            и среднего предпринимательства, инвестиционной деятельности и государственно-частного партнерства,
            административной реформы в органах исполнительной власти Ненецкого автономного округа.
        </p>
    </div>

{%endblock%}
