{% extends 'blog_base.html' %}
{% block title %} {{ post.title_tag }} {% endblock %}
{% load i18n mptt_tags %}
{% load auth_extras %}
{% block blog_body %}
<div class="row">
    <div class="col-3">
        {% if cat_posts %}
            <ul class="list-group list-group-flush">
                {% for post in cat_posts %}
                <li class="list-group-item">
                    <a href="{% url 'blog:article-detail' post.pk %}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Страница недоступна</h3>
        {% endif %}
    </div>
    <div class="col-9">
        <h2><a href="{% url 'blog:category' post.category %}">{{ post.category }}</a> | {{ post.title }}</h2>

        <small>By: {{ post.author }} - {{ post.post_date }} -
            {% if user|has_group:"asfr" %}
            <a href="{% url 'blog:update_post' post.pk %}">(Edit)</a>
            <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a>
            {% endif %}
        </small>
        <hr>
        <br>

        {% if post.header_image %}
        <img src="{{ post.header_image.url }}" alt="">
        {% endif %}

        {{ post.body|safe }}

        <br><br>
        <a href="{% url 'blog:posts' %}" class="btn btn-secondary">Назад</a>
        <br/>
        <p></p>

    </div>
</div>


{% endblock%}