{% extends 'blog_base.html' %}
{% load i18n mptt_tags %}
{% load auth_extras %}
{% block blog_body %}
    <ul class="list-group list-group-flush">
    {% for post in object_list %}
    <li class="list-group-item"><a href="{% url 'blog:article-detail' post.pk %}">{{ post.title }}</a>
<!--        - <a href="{% url 'blog:category' post.category|slugify %}">{{ post.category }}</a> - {{ post.author }} - {{ post.post_date }} - -->
        - <a href="{% url 'blog:category' post.category|slugify %}">{{ post.category }}</a> -
        {% if user|has_group:"asfr" %}
        <small><a href="{% url 'blog:update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a></small>
        {% endif %}
        <br>
        {{ post.snippet }}</li>
    {% endfor %}
    </ul>
{% endblock %}

