{% extends 'blog_base.html' %}
{% load i18n mptt_tags %}
{% block blog_body %}
<div class="row">
    <div class="col-3">
        <ul class="list-group">
            {% recursetree cat_menu_list %}
            <li class="list-group-item">
                <a class="btn" href="{% url 'blog:category' node.name %}" title="{% blocktrans with project=node %}Show all entries in {{ project }}{% endblocktrans %}">{{ node }}</a>
                {% if not node.is_leaf_node %}
                <ul class="project-children project-{{ node.slug }} list-group list-group-flush">{{ children }}</ul>
                {% endif %}
            </li>
            {% endrecursetree %}
            {% if not cat_menu_list %}
            <li class="list-group-item">{% trans "No projects yet." %}</li>
            {% endif %}
        </ul>
    </div>

    <div class="col-9">
        <h2>Раздел:  {{ cats }}</h2>
        {% if category_posts %}

            <ul class="list-group list-group-flush">
                {% for post in category_posts %}
                <li class="list-group-item">
                    <a href="{% url 'blog:article-detail' post.pk %}">{{ post.title }}</a>
                    - {{ post.category }} - {{ post.author }} - {{ post.post_date }} -
                    <small><a href="{% url 'blog:update_post' post.pk %}">(Edit)</a>
                    <a href="{% url 'blog:delete_post' post.pk %}">(Delete)</a></small>
                    <br/>{{ post.snippet }}
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <h3>Страница недоступна</h3>
        {% endif %}
    </div>
</div>
{% endblock%}
